.mywork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 30px 140px;
}

.mywork-title{
    position: relative;
}

.mywork-title h1{
    font-size: 45px;
    font-weight: 600;
    padding: 0px 30px;
}

.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 180px;
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.mywork-container img{
    width: 320px;
    cursor: pointer;
}

.mywork-container img:hover{
    transform: scale(1.10);
    border: 5px solid #ff00ff;
    transition: 0.3s;
    border-radius: 15px;
}

.mywork-readmore{
    display: flex;
    border: 2px solid white;
    border-radius: 40px;
    gap: 15px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    margin-bottom: 80px;
    cursor: pointer;
}

.mywork-readmore:hover{
    gap: 30px;
    transition: 0.5s;
}

@media (max-width:768px) {
    .mywork{
        align-items: start;
        gap: 50px;
        margin: 10px 20px;
    }

    .mywork-title h1{
        font-size: 30px;
        font-weight: 600;
        padding: 0px 15px;
    }
    
    .mywork-title img{
        width: 120px;
    }
    
    .mywork-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .mywork-container img{
        width: 280px;
    }
    
    .mywork-container img:hover{
        transform: scale(1.03);
        border: 3px solid #ff00ff;
    }
    
    .mywork-readmore{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        border-radius: 40px;
        gap: 10px;
        font-size: 15px;
        font-weight: 600;
        padding: 10px 20px;
     
        margin: auto;
        cursor: pointer;
    }

    .mywork-readmore:hover{
        gap: 15px;
        transition: 0.5s;
    }
    
}